<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Gryphon</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-logo">Gryphon</div>
      <div class="profile">
        <p class="username">Siddesh Shewde</p>
        <div class="profile-logo">
          <img src="{% static 'images/sid1.jpeg' %}" alt="" />
        </div>
      </div>
    </nav>
    <section id="border"></section>

    <section id="main">
      <form class="search">
        <input type="text" placeholder="Enter the website URL"/>
        <button type="submit" class="search">Run</button>
      </form>

      <section class="results d-none">
        <div class="cards">
          <div id="card1" class="card" onclick="openCard(event, 'card1')">
            <div class="chart" id="graph">
              <svg viewBox="0 0 36 36">
                <path
                  class="circle"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  stroke="#444"
                  ;
                  stroke-width="1"
                  ;
                  stroke-dasharray="75, 100"
                />
                <text x="18" y="20.35" class="percentage">75%</text>
              </svg>
              <h4>Performance</h4>
            </div>
          </div>
          <div id="card2" class="card" onclick="openCard(event, 'card2')">
            <div class="chart" id="graph">
              <svg viewBox="0 0 36 36">
                <path
                  class="circle"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  stroke="#444"
                  ;
                  stroke-width="1"
                  ;
                  stroke-dasharray="75, 100"
                />
                <text x="18" y="20.35" class="percentage">75%</text>
              </svg>
              <h4>Accessibility</h4>
            </div>
          </div>
          <div id="card3" class="card" onclick="openCard(event, 'card3')">
            <div class="chart" id="graph">
              <svg viewBox="0 0 36 36">
                <path
                  class="circle"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  stroke="#444"
                  ;
                  stroke-width="1"
                  ;
                  stroke-dasharray="75, 100"
                />
                <text x="18" y="20.35" class="percentage">75%</text>
              </svg>
              <h4>Best Practices</h4>
            </div>
          </div>
          <div id="card4" class="card" onclick="openCard(event, 'card4')">
            <div class="chart" id="graph">
              <svg viewBox="0 0 36 36">
                <path
                  class="circle"
                  d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
                  fill="none"
                  stroke="#444"
                  ;
                  stroke-width="1"
                  ;
                  stroke-dasharray="75, 100"
                />
                <text x="18" y="20.35" class="percentage">75%</text>
              </svg>
              <h4>SEO</h4>
            </div>
          </div>
        </div>
        <div class="cardContent">
            
        </div>
      </section>
    </section>

    <script>
      let searchBar = document.querySelector(".search");
      searchBar.addEventListener("submit", (e) => {
        e.preventDefault();
        searchBar.classList.add("animateup");
        document.querySelector("section.results").classList.remove("d-none");
        let card4 = document.querySelector("#card4 .chart")
        console.log(card4)
        generateProgress(card4, 75)
      });

      function openCard(evt, cardName) {
        var i, cardContent, card;
        cardContent = document.getElementsByClassName("cardContent");
        for (i = 0; i < cardContent.length; i++) {
          cardContent[i].style.display = "none";
        }
        card = document.getElementsByClassName("card");
        for (i = 0; i < card.length; i++) {
          card[i].className = card[i].className.replace(" visible", "");
        }
        document.getElementById(cardName).style.display = "block";
        evt.currentTarget.className += " visible";
      }
      
    </script>
  </body>
</html>
